@model Dilemma.Business.ViewModels.QuestionViewModel

@{
    var isDilemmaViewPage = ViewBag.IsDilemmaViewPage == true;
}

<article class="Dilemma Card in-category-@(Model.CategoryId+2)">

    <div class="Card-section Card-info">
        <div class="line align-center">
            <div class="Card-label--small">
                @if (Model.IsClosed)
                {
                    <text>Closed @Model.ClosedDateTime.ToRelativeText()</text>
                }
                else
                {
                    <text>Closes @Model.ClosesDateTime.ToRelativeText()</text>
                }
                
            </div>
            <ol 
                class="Dilemma-respondents horizontal line" 
                title="Posted in @Model.CategoryName, @Model.TotalAnswers answers so far">
                @for (var i = 0; i < @Model.MaxAnswers; i++)
                {
                    if (i < @Model.TotalAnswers)
                    {
                        <li class="Dilemma-respondent"></li>
                    }
                    else
                    {
                        <li class="Dilemma-respondent Dilemma-respondent--empty"></li>
                    }
                }
                
            </ol>    
        </div>
    </div><!-- Dilemma-question Card-section -->

    @Html.Partial("DisplayTemplates/QuestionCard", Model)
    
    
    @if (!Model.IsMyQuestion || !isDilemmaViewPage)
    {
        <div class="Dilemma-actions Card-section line">
            <div class="u-2of5">
                @if (!isDilemmaViewPage)
                {
                     if (Model.IsMyQuestion || (Model.IsOpen && Model.IHaveAnswsered) || (Model.IsClosed && Model.IHaveVoted))
                     {
                         <a href="@Url.Action("Index", "Answers", new
                                                                      {
                                                                          Model.QuestionId
                                                                      })" class="Button--answer">
                             <img src="/Content/images/icons/dark-answer.png" alt="" width="20">
                             <span class="Button-label">View</span>
                         </a>
                     }
                     else if (Model.IsOpen)
                     {
                         <a href="@Url.Action("Index", "Answers", new
                                                                      {
                                                                          Model.QuestionId
                                                                      })" class="Button--answer">
                             <img src="/Content/images/icons/dark-answer.png" alt="" width="20">
                             <span class="Button-label">Advise</span>
                         </a>
                     }
                     else if (Model.IsClosed && !Model.IsMyQuestion)
                     {
                         <a href="@Url.Action("Index", "Answers", new
                                                                      {
                                                                          Model.QuestionId
                                                                      })"  class="Button--vote ">
                             <span data-icon="vote"></span>
                             <span class="Button-label">Vote</span>
                         </a>
                     }
                }
            </div>
            @if (!Model.IsMyQuestion)
            {
                <div class="u-2of5">
                    <button type="button" class="Button--bookmark js-bookmark-button @(Model.IsBookmarked ? "is-active" : string.Empty)" data-question-id="@Model.QuestionId">
                        <span data-icon="bookmark"></span>
                        <span class="Button-label is-inactive">Bookmark</span>
                        <span class="Button-label is-active">Bookmarked</span>
                    </button>                  
                </div>
                <div class="u-1of5 right">
                    <button type="button" class="Button--flag js-flag-button " title="Report an issue with this question"  data-question-id="@Model.QuestionId" data-toggle="modal" data-target="#modal-flag">
                        <span data-icon="flag"></span>
                        <span class="Button-label is-inactive">Flag</span>
                        <span class="Button-label is-active">Flagged</span>
                    </button>                               
                </div>
            }

        </div>
        <!-- Dilemma-actions -->
    }
</article>

