@model Dilemma.Business.ViewModels.QuestionViewModel

<article class="Dilemma Card in-category-@Model.CategoryId">

    <div class="Card-section Card-info">
        <div class="line align-center">
            <div class="Card-label--small right">
                @Model.ClosesDateTime.ToRelativeText()
            </div>
            <ol 
                class="Dilemma-respondents horizontal line left" 
                title="Posted in @Model.CategoryName, @Model.TotalAnswers answers so far">
                @for (var i = 0; i < @Model.MaxAnswers; i++)
                {
                    if (i < @Model.TotalAnswers)
                    {
                        <li class="Dilemma-respondent"></li>
                    }
                    else
                    {
                        <li class="Dilemma-respondent Dilemma-respondent--empty"></li>
                    }
                }
                
            </ol>    
        </div>
    </div><!-- Dilemma-question Card-section -->

    <div class="Card-section">
        <div class="Dilemma-question">

            <!-- <a href="/answer.php" class="Card-go- -trigger"></a> -->
            <div class="Dilemma-text ">
                <p>@Model.Text</p>
                <a href="#" class="Dilemma-text-toggle">
                    <span class="Dilemma-text-toggle-more">&hellip; continue reading</span>
                    <span class="Dilemma-text-toggle-less">&hellip; show less</span>
                </a>
            </div><!-- Dilemma-text -->
        </div>  

    </div><!--  Card-section -->

    <div class="Dilemma-actions Card-section line">
        <div class="u-2of5">
            @if (Model.IsOpen)
            {
                <a href="/advise/@Model.QuestionId" class="Button--answer">
                    <img src="/Content/images/icons/dark-answer.png" alt="" width="20">
                    <span class="Button-label">Answer</span>
                </a>
            }
            else if (Model.IsClosed)
            {
                <a href="/advise/@Model.QuestionId"  class="Button--vote ">
                    <img src="/Content/images/icons/dark-vote.png" alt="" width="16">
                    <span class="Button-label">Vote</span>
                </a>
            }
        </div>
        <div class="u-2of5">
            <button type="button" class="Button--bookmark js-bookmark-button">
                <img src="/Content/images/icons/dark-bookmark.png" alt="" width="13">
                <span class="Button-label is-inactive">Bookmark</span>
                <span class="Button-label is-active">Bookmarked</span>
            </button>                  
        </div>
        <div class="u-1of5">
            <button type="button" class="Button--flag js-flag-button" title="Flag this answer for the attention of the moderator" data-toggle="modal" data-target="#modal-flag">
                <img src="/Content/images/icons/dark-flag.png" alt="" width="13">
                <span class="Button-label is-inactive">Flag</span>
                <span class="Button-label is-active">Flagged</span>
            </button>                               
        </div>
    </div><!-- Dilemma-actions -->
</article>

