
@model Dilemma.Web.ViewModels.SidebarViewModel

@{
    var showNotifications = ViewBag.HideNotifications == null || !ViewBag.HideNotifications;
}

<div class="Card Card--sidebar-ask">

    <div class="Card-section">
        <h2 class="pv10 h2 align-center">
            <span data-icon="ask"></span>
            Ask
        </h2>
    </div>
    <div class="Card-section">
        <h3 class="h4 info pt10 pb20 align-center">What's on your mind?</h3>
        <a href="@Url.Action("Index", "Ask")" class="Button--ask">
            <span data-icon="ask"></span>
            Share Your Dilemma
        </a>
    </div>
</div>
        
<div class="Card Card--sidebar-profile">
    <div class="Card-section Rank user-is-level-@Model.UserStatsViewModel.UserRank.Level">

        <div class="Rank-image">
            <span data-icon="user-level"></span>
            <div class="Rank-text">
                Your rank: @Model.UserStatsViewModel.UserRank.Name
            </div>
        </div><!-- Rank-image -->

        <div class="Rank-ometer-container">
            <div class="Rank-ometer">
                <div class="Rank-ometer-amount" style="width:@Model.UserStatsViewModel.UserRank.Percentage%"></div>
            </div> 
            <div class="Image-ometer ">
                <img src="/Content/images/wise-ometer.png">
                <div class="Image-ometer-amount"></div>
            </div>               
        </div>

    </div>

    <div class="Rank-table">
        <table>
            <tr>
                <td class="Rank-score">@Model.UserStatsViewModel.TotalQuestions</td>
                <th class="Rank-facet">Dilemmas posed</th>
            </tr>
            <tr>
                <td class="Rank-score">@Model.UserStatsViewModel.TotalAnswers</td>
                <th class="Rank-facet">Answers given</th>
            </tr>
            <tr>
                <td class="Rank-score">@Model.UserStatsViewModel.TotalStarVotes</td>
                <th class="Rank-facet">Best answers</th>
            </tr>
            <tr>
                <td class="Rank-score">@Model.UserStatsViewModel.TotalPopularVotes</td>
                <th class="Rank-facet">Up-votes</th>
            </tr>
        </table> 
    </div>  <!-- Rank -->         
    @if (showNotifications)
    {
        <a class="Card-section Card-section--notification Card-go--container" href="@Url.Action("Index", "Profile")">
            <span class="Card-go--trigger"></span>
            <div style="width: 60px; overflow: hidden; float: left;">
                <!-- <div class="disc-label right">99</div> -->
                <div class="disc-label right">
                    <span data-icon="notification"></span>
                </div>
            </div>
            <div>
                <div class="Card-label--small">You have @Model.Notifications.Count() new</div>
                <div>
                    Notifications              
                </div>
            </div>
        </a>
    }
</div>

<div class="featured-content">
    <img src="/Content/images/ads/300x250_uap.gif" width="300" height="250" >
</div>

@if (showNotifications)
{
    <div>
        @Html.DisplayForList(x => x.Notifications, "Notifications")
    </div>
}

