
@model Dilemma.Web.ViewModels.SidebarViewModel

@{
    var showNotifications = ViewBag.HideNotifications == null || !ViewBag.HideNotifications;
}

<div class="Card Card--sidebar-ask">

    <div class="Card-section">
        <h2 class="pv10 h2 align-center">
            <img src="/Content/images/icons/red-ask.png" alt="" width="30"> Ask
        </h2>
    </div>
    <div class="Card-section">
        <h3 class="h4 info pt10 pb20 align-center">What's on your mind?</h3>
        <a href="/ask" class="Button--ask">
            <img src="/Content/images/icons/dark-ask.png" alt="" width="20">
            Share Your Dilemma
        </a>
    </div>
</div>
        
<div class="Card Card--sidebar-profile">
    <div class="Card-section Rank">

        <div class="Rank-image">
            <img src="/Content/images/user-guru-30.png" alt="" class="placeholder" width="75" height="75">
            <div class="Rank-text">
                @Model.UserStatsViewModel.UserRank.Name
            </div>
        </div><!-- Rank-image -->

        <div class="Rank-ometer-container user-is-level-@Model.UserStatsViewModel.UserRank.Level">
            <div class="Rank-ometer">
                <div class="Rank-ometer-amount" style="width:@Model.UserStatsViewModel.UserRank.Percentage%"></div>
            </div> 
            <div class="Image-ometer ">
                <img src="/Content/images/wise-ometer.png">
                <div class="Image-ometer-amount"></div>
            </div>               
        </div>

    </div>

    <div class="Rank-table">
        <table>
            <tr>
                <td class="Rank-score">@Model.UserStatsViewModel.DilemmasPosted</td>
                <th class="Rank-facet">Dilemmas posed</th>
            </tr>
            <tr>
                <td class="Rank-score">@Model.UserStatsViewModel.AnswersPosted</td>
                <th class="Rank-facet">Answers given</th>
            </tr>
            <tr>
                <td class="Rank-score">@Model.UserStatsViewModel.BestAnswersAwarded</td>
                <th class="Rank-facet">Best answers</th>
            </tr>
            <tr>
                <td class="Rank-score">@Model.UserStatsViewModel.UpVotesAwarded</td>
                <th class="Rank-facet">Up-votes</th>
            </tr>
        </table> 
    </div>  <!-- Rank -->         
    @if (showNotifications)
    {
        <a class="Card-section Card-section--notification Card-go--container" href="/profile">
            <span class="Card-go--trigger"></span>
            <div style="width: 60px; overflow: hidden; float: left;">
                <!-- <div class="disc-label right">99</div> -->
                <div class="disc-label right">
                    <img src="/Content/images/icons/notification.png" alt="" width="25" style="position: relative; top: -1px; left: -2px;">
                </div>
            </div>
            <div>
                <div class="Card-label--small">You have @Model.UserStatsViewModel.UnreadNotifications new</div>
                <div>
                    Notifications              
                </div>
            </div>
        </a>
    }
</div>

<div class="featured-content">
    <img src="/Content/images/ads/300x250_uap.gif" width="300" height="250" >
</div>

@if (showNotifications)
{
    <div>
        @Html.DisplayForList(x => x.Notifications, "Notifications")
    </div>
}

