
@using System.Globalization
@model Dilemma.Web.ViewModels.SidebarViewModel

@{
    var showNotifications = ViewBag.HideNotifications == null || !ViewBag.HideNotifications;

    ViewBag.NotificationCount = Model.NewNotificationsCount;
}

<div class="Card Card--sidebar-ask">

    <div class="Card-section">
        <h2 class="pv10 h2 align-center">
            <span data-icon="ask"></span>
            Ask
        </h2>
    </div>
    <div class="Card-section">
        <h3 class="h4 info pt10 pb20 align-center">What's on your mind?</h3>
        <a href="@Url.ActionWithCategory("Index", "Ask", (string) ViewBag.Category, true)" class="Button--ask">
            <span data-icon="ask"></span>
            Post Your Dilemma
        </a>
    </div>
</div>

<!--div class="featured-content">
    <img src="/Content/images/ads/300x250_uap.gif" width="300" height="250" >
</div-->

@if (showNotifications)
{
    <div class="Card Card--sidebar-profile">
        @if (Model.NewNotificationsCount > 0)
        {
            <a class="Card-section Card-section--notification Card-go--container" href="@Url.Action("Index", "Profile")">
                <span class="Card-go--trigger"></span>
                @Html.DisplayFor(x => x.Notifications, "SidebarNotificationSummary")
            </a>
        }
        else
        {
            <div class="Card-section Card-section--notification">
                @Html.DisplayFor(x => x.Notifications, "SidebarNotificationSummary")
            </div>
        }
    </div>
    
    <div>
        @Html.DisplayForList(x => x.Notifications, "Notifications")
    </div>
}


<div class="Card Card--sidebar-profile">
    <div class="Card-section Rank user-is-level-@Model.UserStatistics.UserRank.Rank.Level">

        <div class="Rank-image">
            <span data-icon="user-level"></span>
            <div class="Rank-text">
                Your rank: @Model.UserStatistics.UserRank.Rank.Name
            </div>
        </div><!-- Rank-image -->

        <div class="Rank-ometer-container">
            <div class="Rank-ometer">
                <div class="Rank-ometer-amount" style="width:@Model.UserStatistics.UserRank.Percentage%"></div>
            </div> 
            <div class="Image-ometer ">
                <img src="/Content/images/wise-ometer.png">
                <div class="Image-ometer-amount"></div>
            </div>               
        </div>

    </div>

    <div class="Rank-table">
        <table>
            <tr>
                <td class="Rank-score">@Model.UserStatistics.TotalQuestions</td>
                <th class="Rank-facet">Dilemmas posed</th>
            </tr>
            <tr>
                <td class="Rank-score">@Model.UserStatistics.TotalAnswers</td>
                <th class="Rank-facet">Answers given</th>
            </tr>
            <tr>
                <td class="Rank-score">@Model.UserStatistics.TotalStarVotes</td>
                <th class="Rank-facet">Best answers</th>
            </tr>
            <tr>
                <td class="Rank-score">@Model.UserStatistics.TotalPopularVotes</td>
                <th class="Rank-facet">Up-votes</th>
            </tr>
        </table> 
    </div>  <!-- Rank -->         
    
</div>


