@using Dilemma.Web.Extensions
@model IEnumerable<Dilemma.Business.ViewModels.QuestionViewModel>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table">
    <tr>
        <th>Question</th>
        <th style="min-width: 110px">Created</th>
        <th style="min-width: 110px">Closes</th>
        <th>Answers</th>
        <th>Category</th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    var answerPercentage = Convert.ToInt32(item.AnswerCount * 100 / item.MaxAnswers);
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text) 
        </td>
        <td>
            <div title="@item.CreatedDateTime">@item.CreatedDateTime.ToRelativeText()</div>
        </td>
        <td>
            <div title="@item.ClosesDateTime">@item.ClosesDateTime.ToRelativeText()</div>
        </td>
        <td>
            <div class="progress" style="margin-bottom: 5px">
                <div class="progress-bar" role="progressbar" aria-valuenow="@item.AnswerCount" aria-valuemin="0" aria-valuemax="@item.MaxAnswers" style="width: @answerPercentage%; min-width: 0">
                    <span class="sr-only">@item.AnswerCount out of @item.MaxAnswers</span>
                </div>
            </div>
            <div class="text-center"><small>@string.Format(@"( {0} / {1} )", item.AnswerCount, item.MaxAnswers)</small></div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("View", "Details", new { id=item.QuestionId })
            @*Html.ActionLink("Edit", "Edit", new { id=item.QuestionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuestionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionId })*@
        </td>
    </tr>
}

</table>
