@model Dilemma.Business.ViewModels.CreateQuestionViewModel
@{
    ViewBag.Title = "Help us start dilemma";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.ShowConfirmation == true)
{
    <div class="line">
        <div class="col-md-12" style="margin-top: 20px;">Thanks for your help!</div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12" style="margin-top: 40px;">
            @Html.ActionLink("I've got something else to ask!", "Create", "Question", new { @class="btn btn-success btn-large left", style="font-weight: bold"})
        </div>
    </div>
}
else
{
    <div class="line">
        <div class="col-md-12">Our objective is to populate the site with as many dilemmas as possible for launch.</div>
    </div>
    
    <div class="line">
        <div class="col-md-12">We have set this up so there is no means of us knowing who is posting what question as they go against system generated dummy users.</div>
    </div>
    
    <p>&nbsp;</p>
    
    using (Html.BeginForm("Seeder", "Question", FormMethod.Post, new { @class = "", role = "form" }))
    {
        @Html.AntiForgeryToken()
    
        <div class="form-group">
            @Html.Label("What’s on your mind?", new { @class = "" })
            <div class="">
                @Html.TextAreaFor(x => x.Text, new { @class = "form-control", rows="10"})
                @Html.ValidationMessageFor(x => x.Text)
            </div>
        </div>
    
        <div class="form-inline">
            <div class="form-group">
                @Html.Label("Which category should your dilemma be placed in?", new { @class = "" })
                <div class="">
                    @Html.DropDownListFor(x => x.CategoryId, new SelectList(Model.Categories, "CategoryId", "Name"), string.Empty, new { @class = "form-control", style="min-width: 400px" })
                    @Html.ValidationMessageFor(x => x.CategoryId)
                </div>
            </div>
        </div>
    
        <div class="line" style="margin-top: 20px;">
            <input type="submit" class="btn btn-success btn-large left" style="font-weight: bold" value="Add My Dilemma" />
        </div>
    }
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
