@model Dilemma.Web.ViewModels.MyProfileViewModel

@{
    ViewBag.Title = "Profile";
    ViewBag.DontPanic = true;
}


<h1 class="mb0 mh15 pb10">
    <span data-icon="user"></span> 
    Your Profile
</h1>

<div class="line">

    <aside class="sidebar">
        @Html.DisplayFor(x => x.Sidebar, "Sidebar", new { HideNotifications = true })
    </aside><!-- sidebar -->
        
    <main role="main" class="main">
            
        <div class="Dilemmas">

        <div class="line">

            <div class="gu1of3">
                <a href="#notifications" class="Card Notification Notification--mini">
                    <div class="Notification-score">
                        <div>
                            <span data-icon="notification"></span>
                        </div>
                    </div>
                    <div class="Notification-summary">
                        <div class="Notification--mini-number">@Model.Notifications.Count()</div>
                        <div class="Notification--mini-type">@(Model.Notifications.Count() == 1 ? "NOTIFICATION" : "NOTIFICATIONS")</div>
                    </div><!-- Notification-summary -->
                </a>
            </div><!-- gu1of3 -->

            <div class="gu1of3">
                <a href="#dilemmas" class="Card Notification Notification--ask Notification--mini">
                    <div class="Notification-score">
                        <div>
                            <span data-icon="ask"></span>
                        </div>
                    </div>
                    <div class="Notification-summary">
                        <div class="Notification--mini-number">@Model.Dilemmas.Count()</div>
                        <div class="Notification--mini-type">@(Model.Dilemmas.Count() == 1 ? "DILEMMA" : "DILEMMAS")</div>
                    </div><!-- Notification-summary -->
                </a>
            </div><!-- gu1of3 -->

            <div class="gu1of3">
                <a href="#answers" class="Card Notification Notification--advise Notification--mini">
                    <div class="Notification-score">
                        <div>
                            <span data-icon="advise"></span>
                        </div>
                    </div>
                    <div class="Notification-summary">
                        <div class="Notification--mini-number">@Model.Answers.Count()</div>
                        <div class="Notification--mini-type">@(Model.Answers.Count() == 1 ? "ANSWER" : "ANSWERS")</div>
                    </div><!-- Notification-summary -->
                </a>
            </div><!-- gu1of3 -->

        </div><!-- line -->

            <h2 class="js-sticky h3" id="notifications">
                <span class="js-sticky--offset">
                    Notifications
                </span>
            </h2>

            @Html.DisplayForList(x => x.Notifications, "Notifications")
            

            <h2 class="js-sticky h3" id="dilemmas">
                <span class="js-sticky--offset">
                    Your Current Dilemmas
                </span>
            </h2>

            @if (Model.Dilemmas.Any())
            {
                @Html.DisplayForList(x => x.Dilemmas, "QuestionNotification")
            }
            else
            {
                @Html.Partial("DisplayTemplates/NoDilemmas")
            }

            <h2 class="js-sticky h3" id="answers">
                <span class="js-sticky--offset">
                    Advice You've Given
                </span>
            </h2>

            @if (Model.Answers.Any())
            {
                @Html.DisplayForList(x => x.Answers, "QuestionNotification")
            }
            else
            {
                <div class="Card Dilemmas-empty">
                    <p>Looks like it's time to give some advice!</p>
                    <div class="line">
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <a href="@Url.Action("Index", "Dilemmas")" class="Button--ask">
                            <span data-icon="discuss-2"></span> 
                            Start Advising Now
                        </a>
                    </div>
                </div>
            }
                

                
        </div>

    </main><!-- main-->   

</div>
    

@section scripts {
    <script type="text/javascript">
        document.getElementsByTagName('body')[0].className += ' page-profile';
    </script>
}