@model Dilemma.Web.ViewModels.MyProfileViewModel

@{
    ViewBag.Title = "Profile";
    ViewBag.DontPanic = true;
}


<h1 class="mb0 mh15 pb10">
    <span data-icon="user"></span> 
    Your Profile
</h1>

<div class="line">

    <aside class="sidebar">
        @Html.DisplayFor(x => x.Sidebar, "Sidebar", new { HideNotifications = true })
    </aside><!-- sidebar -->
        
    <main role="main" class="main">
            
        <div class="Dilemmas">

        <div class="line">

            <div class="gu1of3">
                <a href="#notifications" class="Card Notification Notification--mini">
                    <div class="Notification-score">
                        <div>
                            <span data-icon="notification"></span>
                        </div>
                    </div>
                    <div class="Notification-summary">
                        <div class="Notification--mini-number">4</div>
                        <div class="Notification--mini-type">NOTIFICATIONS</div>
                    </div><!-- Notification-summary -->
                </a>
            </div><!-- gu1of3 -->

            <div class="gu1of3">
                <a href="#dilemmas" class="Card Notification Notification--ask Notification--mini">
                    <div class="Notification-score">
                        <div>
                            <span data-icon="ask"></span>
                        </div>
                    </div>
                    <div class="Notification-summary">
                        <div class="Notification--mini-number">3</div>
                        <div class="Notification--mini-type">DILEMMAS</div>
                    </div><!-- Notification-summary -->
                </a>
            </div><!-- gu1of3 -->

            <div class="gu1of3">
                <a href="#answers" class="Card Notification Notification--advise Notification--mini">
                    <div class="Notification-score">
                        <div>
                            <span data-icon="advise"></span>
                        </div>
                    </div>
                    <div class="Notification-summary">
                        <div class="Notification--mini-number">1</div>
                        <div class="Notification--mini-type">ANSWERS</div>
                    </div><!-- Notification-summary -->
                </a>
            </div><!-- gu1of3 -->

        </div><!-- line -->

            <h2 class="js-sticky h3" id="notifications">
                <span class="js-sticky--offset">
                    Notifications
                </span>
            </h2>

            <div class="Card Notification Card-go--container">
                <a href="/answer.php" class="Card-go--trigger"></a>
                <div class="Notification-score">
                    <div>
                        <span data-icon="notification"></span>
                    </div>
                </div>
                <div class="Notification-summary">
                    <div class="Card-label--small">2 hours ago</div>
                    <div class="Notification-summary-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis praesentium, officiis omnis voluptatibus!</div>
                    <a href="#" class="Notification-summary-link">View Details</a>
                </div><!-- Notification-summary -->
            </div><!-- Card -->

            <div class="Card Notification Card-go--container">
                <a href="/answer.php" class="Card-go--trigger"></a>
                <div class="Notification-score">
                    <div>+6
                        <span class="Notification-score-label">Points</span>
                    </div>
                </div>
                <div class="Notification-summary">
                    <div class="Card-label--small">2 hours ago</div>
                    <div class="Notification-summary-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis praesentium, officiis omnis voluptatibus!</div>
                    <a href="#" class="Notification-summary-link">View Details</a>
                </div><!-- Notification-summary -->
            </div><!-- Card -->

            @Html.DisplayForList(x => x.Notifications, "Notifications")



            <h2 class="js-sticky h3" id="dilemmas">
                <span class="js-sticky--offset">
                    Your Current Dilemmas
                </span>
            </h2>

            <div class="Card Notification Notification--ask Card-go--container">
                <a href="/answer.php" class="Card-go--trigger"></a>
                <div class="Notification-score">
                    <div>
                        <span data-icon="ask"></span>
                    </div>
                </div>
                <div class="Notification-summary">
                    <div class="Card-label--small">2 hours ago</div>
                    <div class="Notification-summary-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis praesentium, officiis omnis voluptatibus!</div>
                    <a href="#" class="Notification-summary-link">View Details</a>
                </div><!-- Notification-summary -->
            </div><!-- Card -->


            @if (Model.Dilemmas.Any())
            {
                @Html.DisplayForList(x => x.Dilemmas, "QuestionNotification")
            }
            else
            {
                @Html.Partial("DisplayTemplates/NoDilemmas")
            }

            <h2 class="js-sticky h3" id="answers">
                <span class="js-sticky--offset">
                    Advice You've Given
                </span>
            </h2>

            <div class="Card Notification Notification--advise Card-go--container">
                <a href="/answer.php" class="Card-go--trigger"></a>
                <div class="Notification-score">
                    <div>
                        <span data-icon="advise"></span>
                    </div>
                </div>
                <div class="Notification-summary">
                    <div class="Card-label--small">2 hours ago</div>
                    <div class="Notification-summary-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis praesentium, officiis omnis voluptatibus!</div>
                    <a href="#" class="Notification-summary-link">View Details</a>
                </div><!-- Notification-summary -->
            </div><!-- Card -->

            @if (Model.Answers.Any())
            {
                @Html.DisplayForList(x => x.Answers, "QuestionNotification")
            }
            else
            {
                <div class="Card Dilemmas-empty">
                    <p>Looks like it's time to give some advice!</p>
                    <div class="line">
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <a href="@Url.Action("Index", "Dilemmas")" class="Button--ask">
                            <span data-icon="discuss-2"></span> 
                            Start Advising Now
                        </a>
                    </div>
                </div>
            }
                

                
        </div>

    </main><!-- main-->   

</div>
    

@section scripts {
    <script type="text/javascript">
        document.getElementsByTagName('body')[0].className += ' page-profile';
    </script>
}