@model Dilemma.Web.ViewModels.DilemmaDetailsViewModel

@{
    ViewBag.IsDilemmaViewPage = true;                
}

    <h1 class="section-label js-sticky">
        <span class="js-sticky--offset">
            <span data-icon="advise"></span>
            Answer this dilemma
        </span>
    </h1>

<div class="line">

    <aside class="sidebar">
        @Html.DisplayFor(x => x.Sidebar, "Sidebar")
    </aside>

    <main role="main" class="main">
    
        @Html.DisplayFor(x => x.QuestionDetails.QuestionViewModel, "QuestionSummary")
          
        @if (Model.QuestionDetails.CanAnswer)
        {
            <form class="Card Answer--window" action="">
                <div class="Card-section Card-info">
                    Post your advice
                </div>
                <div class="Card-section line">
                    <button type="submit" class="Button Button--answer">
                        <span data-icon="advise"></span>
                        <span class="Button-label">Advise</span>
                    </button>
                    <div class="textarea-wrap">
                        <textarea name="answer" id="" cols="30" rows="2" class="form-control js-activate-answer-form" placeholder="Greg, Clint - Paul and I prefer the 'Post Your Advice' box up here and it tested better with users in Pauls's testing. This isn't wired in yet, so let me know what you think."></textarea>
                    </div>
                </div><!-- Dilemma-actions -->
            </form>
        }
        
        @if (Model.QuestionDetails.CanFollowup)
        {
            <form class="Card Answer--window" action="">
                <div class="Card-section Card-info">
                    What did you do?
                </div>
                <div class="Card-section line">
                    <button type="submit" class="Button Button--answer">
                        <span data-icon="advise"></span>
                        <span class="Button-label">Followup</span>
                    </button>
                    <div class="textarea-wrap">
                        <textarea name="answer" id="" cols="30" rows="2" class="form-control js-activate-answer-form" placeholder="Tell your adoring fans how it all worked out for you in the end"></textarea>
                    </div>
                </div><!-- Dilemma-actions -->
            </form>
        }
        
        @if (Model.QuestionDetails.QuestionViewModel.HasFollowup)
        {
            @Html.DisplayFor(x => x.QuestionDetails.QuestionViewModel.Followup, "FollowupResponse")
        }

        <div class="Answers">
            
            @foreach (var answer in Model.QuestionDetails.QuestionViewModel.Answers)
            {
                @Html.DisplayFor(x => answer, "Answer", new { Model.QuestionDetails.CanVote, Model.QuestionDetails.QuestionViewModel.IsMyQuestion })
            }
                
            @if (Model.QuestionDetails.CanAnswer)
            { 
                <hr  style="margin-left: 60px;" />
                <div class="Card align-center">
                    <div class="pa30">
                        <h2 class="section-label pt0 pl0">Your Answer</h2>
                        <h3 class="mt10 mb20">What do you think?</h3>
                        
                        <a href="@Url.Action("Answer")" class="Button--ask btn-success">
                            <span data-icon="advise"></span>
                            Answer Now
                        </a>                 
                    </div><!-- pa30 -->
                </div>
            }
                
        </div>

    </main><!-- main-->   

</div>


@section scripts {
    <script type="text/javascript">
        document.getElementsByTagName('body')[0].className+=' page-answer';
    </script>
}