@using Dilemma.Web.Extensions
@model Dilemma.Business.ViewModels.LastRunLogViewModel

@{
    ViewBag.Title = "Last Run Log";
}

<h2>Last Run Log</h2>

<div class="row" style="margin-bottom: 20px; margin-top: 20px;">
    <div class="col-md-2"><strong>Expire answer slots</strong></div>
    <div class="col-md-2" title="@Model.ExpireAnswerSlots">@Model.ExpireAnswerSlots.ToRelativeText("Never")</div>
    <div class="col-md-2"><em>Should run every 5 minutes</em></div>
    <div class="col-md-6"><a class="btn btn-default" href="ExpireAnswerSlots" role="button">Run Now</a></div>
</div>

<div class="row" style="margin-bottom: 20px">
    <div class="col-md-2"><strong>Close Questions</strong></div>
    <div class="col-md-2" title="@Model.CloseQuestions">@Model.CloseQuestions.ToRelativeText("Never")</div>
    <div class="col-md-2"><em>Should run every 15 minutes</em></div>
    <div class="col-md-6"><a class="btn btn-default" href="CloseQuestions" role="button">Run Now</a></div>
</div>

<div class="row" style="margin-bottom: 60px">
    <div class="col-md-2"><strong>Retire old questions</strong></div>
    <div class="col-md-2" title="@Model.RetireOldQuestions">@Model.RetireOldQuestions.ToRelativeText("Never")</div>
    <div class="col-md-2"><em>Should run every few hours</em></div>
    <div class="col-md-6"><a class="btn btn-default" href="RetireOldQuestions" role="button">Run Now</a></div>
</div>
