@model Dilemma.Web.ViewModels.AskViewModel

@{
    ViewBag.Title = "Ask";
}

   
    <h1 class="pb10 mh15"><span data-icon="ask"></span> Ask</h1>
    <div class="line">

        <aside class="sidebar">
            @Html.DisplayFor(x => x.Sidebar, "Sidebar")
        </aside>

        <main role="main" class="main">
            
            @using (Html.BeginForm("Index", "Ask", FormMethod.Post, new { @class = "Card", role = "form" }))
            { 
                @Html.AntiForgeryToken()

                <div class="Card-section Card-divider pa10" style="background: #f9f9f9;">
                    
                    <div class="form-group">
                        @Html.LabelFor(x => x.Question.Text, "What's on your mind?", new { @class = "h3 pv10" })
                        <p class="info">Ask your question in complete anonymity. All questions disapear within a couple of weeks.</p>
                        @Html.TextAreaFor(x => x.Question.Text, new { @class = "form-control", cols="30", rows="10"})
                        @Html.ValidationMessageFor(x => x.Question.Text)
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(x => x.Question.CategoryId, "Which best describes your dilemma?", new { @class = "h3 pv10" })
                        @Html.DropDownListFor(x => x.Question.CategoryId, new SelectList(Model.Categories, "CategoryId", "Name"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Question.CategoryId)
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="Button--ask">
                            <span data-icon="ask"></span>
                            Share My Dilemma
                        </button>                      
                    </div>
      
                </div>
            }

        </main>
    
    </div><!-- line -->



@section scripts {
    <script type="text/javascript">
        document.getElementsByTagName('body')[0].className+=' page-ask';
    </script>
}