@model Dilemma.Web.ViewModels.DilemmasViewModel
@{
    ViewBag.Title = "";

    ViewBag.ShowLuckyDip = ViewBag.Category != "all";
}
    
    <h1 class="js-sticky">
        <span class="js-sticky--offset">
            <span data-icon="advise"></span>
            Advise
        </span>
    </h1>

    <div class="line">

        <aside class="sidebar">
            @Html.DisplayFor(x => x.Sidebar, "Sidebar")
        </aside><!-- sidebar -->

        <main role="main" class="main">
            <div class="Dilemmas">

                @if (Model.DilemmasToAnswer.Any())
                {
                    @Html.DisplayForList(x => x.DilemmasToAnswer, "QuestionSummary")
                }
                else
                {
                    @Html.Partial("DisplayTemplates/NoDilemmas")
                }

                <h2 class="js-sticky h1 js-sticky--vote">
                    <span class="js-sticky--offset">
                        <span data-icon="vote"></span>
                        Vote
                    </span>
                </h2>
          
                @if (Model.DilemmasToVote.Any())
                {
                    @Html.DisplayForList(x => x.DilemmasToVote, "QuestionSummary")
                }
                else
                {
                    @Html.Partial("DisplayTemplates/NoDilemmas")
                }
            </div>
        </main><!-- main-->  
    </div>



@section scripts {
    <script type="text/javascript">
        document.getElementsByTagName('body')[0].className+=' page-dilemmas';
    </script>
}