@using Dilemma.Business.Services
@using Disposable.Common.ServiceLocator
@{
    
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="">

    <title>@ViewBag.Title - Dilemma</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <!--icons-->
    <link rel="shortcut icon" href="/Content/images/icons/favicon.png" type="image/x-icon"/>
    <link rel="apple-touch-icon-precomposed" href="/Content/images/icons/apple-touch-icon-precomposed.png" type="image/png"/>

    <!-- send jquery to the foot of the page -->
    <script type='text/javascript'>window.q = []; window.$ = function (f) { q.push(f) }</script>

</head>
<body>
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    
    <header role="banner" class="page-hd">
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container-fluid">
                <div class="wrap">
                    <div class="navbar-header">
                        <a href="/dilemmas?category=all" rel="home" class="page-logo">
                            <img src="/Content/images/device.png" alt="" width="60" style="position: absolute;top: -5px; margin-right: 5px;">
                            <img src="/Content/images/logo.png" alt="" width="200" style=" margin: 10px 0 0 70px;">
                        </a>
                    </div>

                    <ul class="nav navbar-nav right">
                        <li class="dropdown nav-level-1">
                            <a href="/dilemmas" class="dropdown-toggle nav-level-1-link js-nav-level-2-menu-trigger" role="button" aria-expanded="false">
                                <img src="/Content/images/icons/conversation.png" alt="" width="30">
                                <span class="nav-level-1-text">
                                    Advise &amp; Vote 
                                    <span class="caret"></span>
                                </span>
                
                            </a>
                            <ul class="nav-level-2-menu" role="menu">
                                <li class="nav-level-2 in-category-1">
                                    <a href="/dilemmas?category=all" class="nav-level-2-link">
                                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                        All Categories
                                    </a>
                                </li>
                                <li class="nav-level-2 in-category-2">
                                    <a href="/dilemmas?category=bookmarks" class="nav-level-2-link">
                                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                        My Bookmarks
                                    </a>
                                </li>
                                <li class="nav-level-2 in-category-3">
                                    <a href="/dilemmas?category=personal" class="nav-level-2-link">
                                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                        Personal
                                    </a>
                                </li>
                                <li class="nav-level-2 is-page-current in-category-4">
                                    <a href="/dilemmas?category=family" class="nav-level-2-link">
                                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                        Family
                                    </a>
                                </li>
                                <li class="nav-level-2 in-category-5">
                                    <a href="/dilemmas?category=relationships" class="nav-level-2-link">
                                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                        Relationships
                                    </a>
                                </li>
                                <li class="nav-level-2 in-category-6">
                                    <a href="/dilemmas?category=work" class="nav-level-2-link">
                                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                        Work
                                    </a>
                                </li>
                                <li class="nav-level-2 in-category-7">
                                    <a href="/dilemmas?category=sex" class="nav-level-2-link">
                                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                        Sex
                                    </a>
                                </li>
                                <li class="nav-level-2 in-category-8">
                                    <a href="/dilemmas?category=teenage" class="nav-level-2-link">
                                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                        Teenage
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-level-1">
                            <!-- <a href="#" data-toggle="modal" data-target="#modal-ask"> -->
                            <a href="/ask" class="nav-level-1-link">
                                <img src="/Content/images/icons/ask.png" alt="" width="30">
                                <span class="nav-level-1-text">Ask</span>
                            </a>
                        </li>
                        <li class="nav-level-1">
                            <a href="/profile" class="nav-level-1-link">
                                <img src="/Content/images/icons/user.png" alt="" width="26">
                                <span class="nav-level-1-text">Profile</span>
                                <!--?php $unread_notifications = 99; ?-->
                                <!--?php if ($unread_notifications > 0) { ?-->
                                <span class="nav-unread-notifications">
                                    <!--?=$unread_notifications?-->
                                    $unread_notifications
                                </span>
                                <!--?php } ?-->
                            </a>
                        </li>
                    </ul>          
                </div><!-- wrap -->
            </div>
        </nav>

    </header>
    <!-- banner-->
    
    <!--?php require '_ask-modal.php'; ?-->
    
    <div class="page-bd">
        @RenderBody()
    </div>
    
    <footer role="contentinfo" class="page-ft">
        <small>
            <div class="wrap">
                <ul class="unstyled inline with-separators">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Cookies Policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                <div class="copyright">&copy;&#160;Our Dilemmas&#160;2015&#160;All&#160;rights&#160;reserved</div>
            </div><!-- wrap-->
        </small>
    </footer><!-- contentinfo-->

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/cookiedirective")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/homegrown")
    
    
    @RenderSection("scripts", required: false)
    
    <script type="text/javascript">$.each(q, function (i, f) { $(f); })</script>
</body>
</html>
