@using System.Text.RegularExpressions
@using Dilemma.Business.ViewModels

@{
    var tidyRegex = new Regex("[^a-zA-Z]");
    Func<string, string> tidyString = (x) => tidyRegex.Replace(x, string.Empty).ToLower();
    var counter = 3;
    Func<int> getNextCounter = () => counter++;
    Func<string, string> getMenuClass = (x) => x == tidyString(ViewBag.Category ?? string.Empty) ? " is-page-current " : string.Empty;
    
    var isOffline = ViewBag.Offline == true;
}


<header role="banner" class="page-hd">
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="wrap">
                <div class="navbar-header">
                    <a href="@Url.Action("Index", "Dilemmas")" rel="home" class="page-logo">
                        <img src="/Content/images/device.png" alt="" width="60" style="position: absolute;top: -5px; margin-right: 5px;">
                        <img src="/Content/images/logo.png" alt="" width="200" style=" margin: 10px 0 0 70px;">
                    </a>
                </div>
                @if (!isOffline)
                {
                    <ul class="nav navbar-nav right">
                        <li class="dropdown nav-level-1">
                            <a href="javascript://click" class="dropdown-toggle nav-level-1-link js-nav-level-2-menu-trigger" role="button" aria-expanded="false">
                                <span data-icon="advise"></span>
                                <span class="nav-level-1-text">
                                    Advise &amp; Vote 
                                    <span class="caret"></span>
                                </span>
                
                            </a>
                            <ul class="nav-level-2-menu" role="menu">
                                <li class="nav-level-2 in-category-1 js-categories-all @getMenuClass("all")">
                                    <a href="@Url.Action("Index", "Dilemmas")" class="nav-level-2-link">
                                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                        All Categories
                                    </a>
                                </li>
                                <li class="nav-level-2 in-category-2 js-categories-bookmarks @getMenuClass("bookmarks")">
                                    <a href="@Url.ActionWithCategory("Index", "Dilemmas", "bookmarks")" class="nav-level-2-link">
                                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                        My Bookmarks
                                    </a>
                                </li>
                                @foreach (CategoryViewModel category in ViewBag.Categories)
                                {
                                    <li class="nav-level-2 in-category-@getNextCounter() @getMenuClass(tidyString(category.Name))">
                                        <a href="@Url.ActionWithCategory("Index", "Dilemmas", tidyString(category.Name))" class="nav-level-2-link">
                                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                            @category.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="nav-level-1">
                            <!-- <a href="#" data-toggle="modal" data-target="#modal-ask"> -->
                            <a href="@Url.ActionWithCategory("Index", "Ask", (string)ViewBag.Category, true)" class="nav-level-1-link">
                                <span data-icon="ask"></span>
                                <span class="nav-level-1-text">Ask</span>
                            </a>
                        </li>
                        <li class="nav-level-1">
                            <a href="@Url.Action("Index", "Profile")" class="nav-level-1-link">
                                <span data-icon="user"></span>
                                <span class="nav-level-1-text">Profile</span>
                            </a>
                        </li>
                    </ul>
                }         
            </div><!-- wrap -->
        </div>
    </nav>

</header>
<!-- banner-->
